html {
  background-color: #efefef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  max-width: 500px;
  min-height: 100vh;
  background-color: white;
  margin: 0 auto;
}

body > form {
  height: 5vh;
  padding: 0.5rem;
  border-bottom: 1px solid #dfdfdf;
}

body > article {
  padding: 1rem;
  display: flex;
}

body > article > p {
  width: 35%;
  height: 100%;
  margin-right: 4rem;
  border-radius: 10px;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

body > article > div > a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}

body > article > div > p {
  font-size: 0.8rem;
  font-weight: 500;
}

body > a {
  position: sticky;
  bottom: 3%;
  left: 62%;
  width: 3rem;
  height: 3rem;
}

body > a > img {
  width: inherit;
  height: inherit;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  color: green;
}
